@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 600px;
  position: relative;
  left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:none;
  background-image:url(reg.jpg) ;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 30px;
}
.body .p{
  position: relative;
  bottom: 200px;
  left: 700px;
  font-size: 20px;
}
.container{
  position: relative;
  max-width: 650px;
  width: 100%;
  border: none;
  background: none;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
  

}



.container .signup-form{
  width: calc(200% / 2 );
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
 
}

 .title{
  color: black;
  font-size: 40px;
  position: relative;
  left: 170px;
  
}

.signup-form .input-boxes{
  margin-top: 30px;
}
.signup-form .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
  
}
.signup-form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  color:  black;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  background :transparent;
}
.signup-form .input-box input::placeholder{
  color: rgb(63, 63, 63);
  cursor: text;
  font-size: 15px;
  

}
.signup-form.input-box input:focus,
.signup-form .input-box input:valid{
  border-color: wheat;
}
.signup-form .input-box i{
  position: absolute;
  color: black;
  font-size: 17px;
}
.signup-form .text{
  font-size: 18px;
  font-weight: 500;
  
}
.signup-form .text a{
  text-decoration: none;
  color: black;
 
}
.signup-form .text a:hover{
  text-decoration: underline;
  color: #fff;
}
.signup-form .button{
  color: #fff;
  margin-top: 40px;
}
.signup-form .button input{
  color: black;
  font-weight: bolder;
  background:white;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.signup-form .button input:hover{
  background: wheat;
}
.signup-form label{
  color: black;
  cursor: pointer;
}
.signup-form label:hover{
  text-decoration: underline;
}

.signup-form .sign-up-text{
  text-align: center;
  margin-top: 25px;
}

